.header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 9999;
	color: $font_header;

	&.-active {
		background-color: $bg_header;
	}

	&__upper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 30px;
		background-color: $bg_header;
		font-size: 1rem;
		font-weight: 600;
		line-height: 1.2rem; 
	}

	
	.container {
		display: flex;
		align-items: center;
		padding: 16px 10px;

		@media screen and (max-width: 1023px) {
			justify-content: center;
		}

		@media screen and (min-width: 1024px) {
			justify-content: space-between;
		}
	}

	&__nav {
		@media screen and (min-width: 1024px) {
			margin: 0 40px 0 auto;
		}
		@media screen and (max-width: 1023px) {
			display: none;
		}

		ul {
			list-style-type: none;
			padding: 0;
		}
		> ul {
			> li {
				display: inline-block;
			}
		}
	}

	&__nav-item {
		color: $font_header;
		font-size: 1.4rem;
		font-weight: 700;
		line-height: 1.7rem;
		text-transform: uppercase;
		@media screen and (min-width: 1024px) {
			margin: auto 8px;
		}
	}

	&__nav-submenu {
		
		width: 100%;
		position: absolute;
		left: 0;
		background-color: #fff;
		padding: 10px;
		&.frame-1 {
			display: grid;
			gap: 10px;
			grid-template-columns: repeat(3,1fr) 310px;
		}

		&.frame-2 {
			display: flex;
			flex-direction: column;
			align-items: center;			
		}
	}

	.frame-2 {
		.all-coletions {
			display: flex;
			align-items: center;
			width: 250px;
			height: 28px;
			margin: 20px auto;
			padding: 0 13px;
			font-size: 1.2rem;
			font-weight: 700;
			letter-spacing: 0.3em;
			font-style: italic;
			text-transform: uppercase;
			color: #fff;
			background-color: #000;

			svg {
				margin-left: 10px;
			}
		}
	}

	&__nav-banners {
		display: grid;
		gap: 10px;
		grid-template-columns: repeat(3,1fr);
	}



	&__right {
		display: flex;
		@media screen and (max-width: 1023px) {
			position: absolute;
			right: 15px;
		}
	}

	&__search {
		@media screen and (max-width: 1023px) {
			display: none;
		}
		@media screen and (min-width: 1024px) {
			width: 263px;
			display: flex;
			justify-content: flex-end;
			position: relative;
		}

		&-btn {
			background-color: transparent;
			border: none;
			height: 19px;
		}

		&-close {
			display: none;
		}

		&-input {
			@media screen and (min-width: 1024px) {
				width: 122px;
				height: 19px;
				padding: 0 13px;
				font-size: 1rem;
				font-family: $second-font;
				text-transform: uppercase;
				color: $font_header;
				background-color: transparent;
				border: 1px solid transparent;
				transition: border-color 0.7s, width 0.7s ease-in-out;
				will-change: border-color, width;

				@include placeholder-form($font_header, $second-font, 400);
			}
			&:focus {
				@media screen and (min-width: 1024px) {
					width: 239px;
					border-color: $font_header;
					outline: none;
				}

				& + .header__search-close {
					display: flex;
					align-items: center;
					height: 19px;
					position: absolute;
					top: 0;
					right: 5px;
				}
			}
		}

	}

	&__account {
		margin-left: 16px;
		color: $font_header;

		svg {
			circle {
				opacity: 0;
				transition: opacity 0.7s ease-in-out;
				will-change: opacity;
			}
		}

		&:hover {
			svg {
				circle {
					opacity: 1;
				}
			}
		}
	}

	&__account,
	&__cart {
		display: flex;
		justify-content: center;
		align-items: center;
		color: $font_header;

	}
	
	&__cart {
		@media screen and (max-width: 1023px) {
			margin-left: 15px;
		}
		@media screen and (min-width: 1024px) {
			margin-left: 32px;
		}

		&-count {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 18px;
			height: 18px;
			margin-left: 4px;
			border-radius: 50%;
			background-color: $font_header;
			color: $bg_header;
			font-size: 1rem;
			font-weight: 900;
		}

		&-wrap {
			position: relative;
		}
	}

	&__toogle-menu {
		@media screen and (min-width: 1024px) {
			display: none;
		}
		@media screen and (max-width: 1023px) {
			display: block;
			vertical-align: top;
			width: 35px;
			padding: 0;
			position: absolute;
			left: 15px;
			top: 15px;
			background: transparent;
			border: none;
			cursor: pointer;
			.i-line {
				display: block;
				width: 35px;
				height: 4px;
				margin: 0 0 6px 0;
				background-color: $font_header;
			}
		}
	}

	&__submenu {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__submenu-item {
		display: flex;
		flex-direction: column;
		color: #000;

		strong {
			
			font-family: $second-font;
			font-size: 1.6rem;
			font-weight: 700;
			text-transform: uppercase;

			@media screen and (min-width: 1200px) {
				margin-bottom: 29px;
			}
		}

		ul {
			column-count: 2;
		}

		a {
			margin-bottom: 10px;
			font-size: 1.2rem;
			font-family: $second-font;
			font-weight: 400;
			color: #8E8E8E;
			text-transform: uppercase;
			transition: color 0.7s ease-in-out;
			will-change: color;

			&:hover {
				text-decoration: none;
				color: #000;
			}
		}
	}

	&__submenu-view-more {
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		font-family: $second-font;
		font-size: .8rem;
		font-weight: 700;
		font-style: italic;

		svg {
			margin-left: 10px;
		}
	}

	&__submenu-close {
		display: flex;
		align-items: center;
		text-transform: uppercase;
		font-family: $second-font;
		font-size: 0.9rem;
		color: #8E8E8E;
		text-transform: uppercase;
		transition: color 0.7s ease-in-out;
		will-change: color;
		cursor: pointer;

		svg {
			color: #000;
		}

		&:hover {
			text-decoration: none;
			color: #000;
		}
	}

	&__frame2-txt {
		display: block;
		margin-top: 15px;
		font-size: 1rem;
		font-family: $second-font;
		text-transform: uppercase;
		color: #000;
	}
}