.header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 9999;
	color: $font_header;

	&.-active {
		background-color: $bg_header;
	}

	&__upper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 30px;
		background-color: $bg_header;
		font-size: 1rem;
		font-weight: 600;
		line-height: 1.2rem; 
	}

	
	.container {
		display: flex;
		align-items: center;
		padding: 16px 10px;

		@media screen and (max-width: 1023px) {
			justify-content: center;
		}

		@media screen and (min-width: 1024px) {
			justify-content: space-between;
		}
	}

	&__nav {
		@media screen and (min-width: 1024px) {
			margin: 0 40px 0 auto;
		}
		@media screen and (max-width: 1023px) {
			display: none;
		}
	}

	&__nav-item {
		color: $font_header;
		font-size: 1.4rem;
		font-weight: 700;
		line-height: 1.7rem;
		text-transform: uppercase;
		@media screen and (min-width: 1024px) {
			margin: auto 8px;
		}
	}

	&__right {
		display: flex;
		@media screen and (max-width: 1023px) {
			position: absolute;
			right: 15px;
		}
	}

	&__search {
		@media screen and (max-width: 1023px) {
			display: none;
		}
		@media screen and (min-width: 1024px) {
			width: 263px;
			display: flex;
			justify-content: flex-end;
			position: relative;
		}

		&-btn {
			background-color: transparent;
			border: none;
			height: 19px;
		}

		&-close {
			display: none;
		}

		&-input {
			@media screen and (min-width: 1024px) {
				width: 122px;
				height: 19px;
				padding: 0 13px;
				font-size: 1rem;
				font-family: $second-font;
				text-transform: uppercase;
				color: $font_header;
				background-color: transparent;
				border: 1px solid transparent;
				transition: border-color 0.7s, width 0.7s ease-in-out;
				will-change: border-color, width;

				@include placeholder-form($font_header, $second-font, 400);
			}
			&:focus {
				@media screen and (min-width: 1024px) {
					width: 239px;
					border-color: $font_header;
					outline: none;
				}

				& + .header__search-close {
					display: flex;
					align-items: center;
					height: 19px;
					position: absolute;
					top: 0;
					right: 5px;
				}
			}
		}

	}

	&__account {
		margin-left: 16px;
		color: $font_header;

		svg {
			circle {
				opacity: 0;
				transition: opacity 0.7s ease-in-out;
				will-change: opacity;
			}
		}

		&:hover {
			svg {
				circle {
					opacity: 1;
				}
			}
		}
	}

	&__account,
	&__cart {
		display: flex;
		justify-content: center;
		align-items: center;
		color: $font_header;

	}
	
	&__cart {
		@media screen and (max-width: 1023px) {
			margin-left: 15px;
		}
		@media screen and (min-width: 1024px) {
			margin-left: 32px;
		}

		&-count {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 18px;
			height: 18px;
			margin-left: 4px;
			border-radius: 50%;
			background-color: $font_header;
			color: $bg_header;
			font-size: 1rem;
			font-weight: 900;
		}

		&-wrap {
			position: relative;
		}
	}

	&__toogle-menu {
		@media screen and (min-width: 1024px) {
			display: none;
		}
		@media screen and (max-width: 1023px) {
			display: block;
			vertical-align: top;
			width: 35px;
			padding: 0;
			position: absolute;
			left: 15px;
			top: 15px;
			background: transparent;
			border: none;
			cursor: pointer;
			.i-line {
				display: block;
				width: 35px;
				height: 4px;
				margin: 0 0 6px 0;
				background-color: $font_header;
			}
		}
	}
}