.footer {
    background-color: $bg_footer;
    
    &__lt {
        list-style-type: none;
        padding-left: 0;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.6rem;

        &-list {
            margin-bottom: 7px;
        }
    }
    &__middle {
        padding: 50px 0;

        .container {
            display: flex;
            @media screen and (max-width: 767px) {
                flex-direction: column;
            }
        }

    }

    &__title {
        margin-bottom: 30px;
        font-family: $second-font;
        font-weight: 700;
        font-size: 1.6rem;
        color: #000;
        text-transform: uppercase;
        @media screen and (max-width: 767px) {
            margin-top: 30px;
        }
    }

    &__col {
        @media screen and (max-width: 767px) {
            width: 100%;
        }
        &.-left {
            @media screen and (min-width: 768px) and (max-width: 1023px) {
                margin-left: 100px;
            }
            @media screen and (min-width: 1024px) {
                margin-left: 204px;
            }
        }

        &.-right {
            margin-left: auto;
            @media screen and (min-width: 768px) {
                margin-right: 100px;                
            }
        }

    }

    &__social {
        margin-right: 10px;
    }

    &__bottom {
        display: block;
        width: 100%;
        font-family: $second-font;
        font-size: 1.4rem;
        line-height: 1.6rem;
        color: #fff;
        background-color: #000;

        &-icos {
            @media screen and (max-width: 519px) {
                margin-top: 10px;
            }
            a:first-child {
                margin-right: 40px;
            }
        }

        .container {
            display: flex;
            
            align-items: center;
            @media screen and (max-width: 519px) {
                flex-direction: column;
                justify-content: space-around;
                height: 96px;
            }
            @media screen and (min-width: 520px) {
                height: 48px;
            }
        }
    }

    &__whats {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        position: fixed;
        right: 30px;
        bottom: 60px;
        color: #fff;
        background-color: #000;
        border-radius: 30px;
        transition: width 0.7s ease-in-out;
        will-change: width;

        &::after {
            content: '';
            width: 0;
            height: 0;
            border: 5px solid #000;
            position: absolute;
            right: 3px;
            bottom: 3px;
            border-top-color: transparent;
            border-left-color: transparent;
        }


        &:hover {
            width: 265px;
            justify-content: normal;
            
            text-decoration: none;
        }

        &-img {
            transition: opacity 0.7s ease-in-out;
            will-change: opacity;
            .footer__whats:hover & {
                opacity: 0;
                display: none;
            }
        }

        &-span {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 30px;
            width: 193px;
            position: absolute;
            right: -265px;
            font-family: $second-font;
            font-size: 1.2rem;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.35em;
            font-style: italic;
            opacity: 0;

            transition: right 0.7s, opacity 0.8s ease-in-out;
            will-change: right, opacity;
            .footer__whats:hover & {
                right: 0;
                opacity: 1;
            }
        }
    }
}